<div class="d-horizontal">
	<div class="headline">Campaign Report</div>
	<div class="form-group row">
		<label class="control-label col-sm-4"for="Campaign">Campaign:</label>
		<div class="col-sm-5" id="Campaign">
			Flu Shots
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4"for="CampaignDescrption">Campaign Description:</label>
		<div class="col-sm-5" id="CampaignDescrption" style="width: 495px;">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4"for="CampaignType">Campaign Type:</label>
		<div class="col-sm-5" id="CampaignType">
			Email & Sms
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4"for="ScheduleDate">Schedule Start Date:</label>
		<div class="col-sm-5" id="ScheduleDate">
			2011-08-19T13:45:00
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4"for="DataFile">Data file:</label>
		<div class="col-sm-5" id="DataFile">
			sample.csv
		</div>
	</div>
	<div class="form-group row rounded">
		<label class="control-label col-sm-4"for="Email">Email Report</label>
		<div class="col-sm-5" id="Email">
			<strong>Total</strong> : 5000 <br>
			<strong>Successfully sent</strong> : 4900 <br>
			<strong>Opened</strong>: 3000 <br>
			<strong>Action Taken</strong>: 1000 <br>
		</div>
	</div>
	<div class="form-group row rounded">
		<label class="control-label col-sm-4" for="Sms">Sms:</label>
		<div class="col-sm-5" id="Sms">
			<strong>Total</strong> : 5000 <br>
			<strong>Successfully sent</strong> : 4500 <br>
			<strong>Action Taken</strong>: 1000 <br>
		</div>
	</div>
</div>
