<form id="createCampaign">
    <div class="d-horizontal">
        <div class="headline">Create a Campaign</div>
        <div class="form-group row">
            <label for="campaignName" class="col-2 col-form-label">Campaign Name</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Enter Campaign name here" ng-model="data.campaignName" id="campaignName" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="campaignDescription" class="col-2 col-form-label">Campaign Description</label>
            <div class="col-10">
                <textarea class="form-control" id="campaignDescription" ng-model="data.campaignDescription" placeholder="Describe your Campaign here" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="campaignType" class="col-2 col-form-label">Campaign Type</label>
            <select class="form-control" id="campaignType" ng-model="data.campaignType">
                <option disabled selected> Please Select a option</option>
                <option>Email</option>
                <option>SMS</option>
                <option>Email & SMS</option>
            </select>
        </div>
		<div class="form-group row">
            <label for="campaignMessage" class="col-2 col-form-label">Campaign Message</label>
            <div class="col-10">
                <textarea class="form-control" id="campaignMessage" ng-model="data.campaignMessage" placeholder="Describe your Campaign Message here" rows="3"></textarea>
        </div>
		</div>
        <div class="form-group row">
            <label for="scheduleDateTime" class="col-2 col-form-label">Schedule Date and time</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="scheduleDateTime" ng-model="data.scheduleDateTime">
            </div>
        </div>
        <div class="form-group row">
            <label for="dataSetFile" class="col-2 col-form-label">Data File</label>
            <input type="file" class="form-control-file" file="file" id="dataSetFile" on-read-file="showContent($fileContent)" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Please upload the data file you would want to run your campaign on.</small>
        </div>
        <div ng-if="headers" class="row">
            <label>Select Filters for file headers</label>
            <table class="table table-sm" style="font-size:14px;">
                <thead>
                <tr>
                    <th>Fields</th>
                    <th>Rules</th>
                    <th>Rule Value</th>
                    <th>Operator</th>
                    <th>Operations</th>
                </tr>
                <tbody>
                <tr ng-repeat="header in headers track by $index">
                    <td data-fromFile="{{header.fromFile}}" data-operation="{{header.operation}}">{{header.fieldDisplayName}}</td>
                    <td>
                        <select id="{{$index}}" class="form-control" ng-model="header.rule">
                            <option>Select Rule</option>
                            <option>Greater than (>)</option>
                            <option>Less than (<)</option>
                            <option>Equal to (=)</option>
                            <option>Contains</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="text" ng-model="header.value" placeholder="Set value here"></td>
                    <td>
                        <div class="radioBtn btn-group" data-toggle="buttons">
                            <label class="btn btn-primary  active">
                                <input type="radio" autocomplete="off" ng-change="updateRuleOperator($index,'AND')" ng-model="header.operator" value="AND" data-tip="AND"> AND 
                            </label>
                            <label class="btn btn-primary  notActive">
                                <input type="radio" autocomplete="off"  ng-change="updateRuleOperator($index,'OR')" ng-model="header.operator" value="OR" data-tip="OR"> OR
                            </label>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="addRule($index,header,'Add')" data-tip="Add">Add</button>
                        <button type="button" class="btn btn-danger" ng-click="removeRule($index)" ng-show="!header.fromFile" data-tip="remove Rule">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary row" ng-click="submitForm()">Submit</button>
		<button class="btn btn-primary btn-large center" style="margin-left: 65px;" type="reset"  ng-click=""> 
                        Reset
          
</button>
    </div>
</form>