<form id="createCampaign">
    <div class="d-horizontal">
        <h1 style="text-align: center;">Create a Campaign</h1>
        <div class="form-group row">
            <label for="campaignName" class="col-2 col-form-label">Campaign Name</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Enter Campaign name here" ng-model="data.campaignName" id="campaignName">
            </div>
        </div>
        <div class="form-group row">
            <label for="CampaignDescription" class="col-2 col-form-label">Campaign Description</label>
            <div class="col-10">
                <textarea class="form-control" id="CampaignDescription" ng-model="data.CampaignDescription" placeholder="Describe your Campaign here" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="CampaignType">Campaign Type</label>
            <select class="form-control" id="CampaignType" ng-model="data.CampaignType">
                <option disabled selected> Please Select a option</option>
                <option>Email</option>
                <option>SMS</option>
                <option>Email & SMS</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="CampaignDomain">Campaign Domain</label>
            <select class="form-control" id="CampaignDomain" ng-model="data.CampaignDomain">
                <option disabled selected> Please Select a option</option>
                <option>Healthcare</option>
                <option>Insurance</option>
                <option>cars</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="StartDateTime" class="col-2 col-form-label">Start Date and time</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="StartDateTime" ng-model="data.StartDateTime">
            </div>
        </div>
        <div class="form-group row">
            <label for="EndDateTime" class="col-2 col-form-label">End Date and time</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="EndDateTime">
            </div>
        </div>
        <div class="form-group row">
            <label for="dataSetFile">Data File</label>
            <input type="file" class="form-control-file" id="dataSetFile" on-read-file="showContent($fileContent)" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Please upload the data file you would want to run your campaign on.</small>
        </div>
        <div ng-if="headers" class="row">
            <label>Select Filters for file headers</label>
            <table class="table table-sm" style="font-size:14px;">
                <thead>
                <tr>
                    <th>Fields</th>
                    <th>Rules</th>
                    <th>Rule Value</th>
                    <th>Operations</th>
                </tr>
                <tbody>
                <tr ng-repeat="header in headers track by $index">
                    <td data-fromFile="{{header.fromFile}}" data-operation="{{header.operation}}">{{header.field}}</td>
                    <td>
                        <select id="{{$index}}" class="form-control" ng-model="header.rule" >
                            <option disabled selected>Select Rule</option>
                            <option>Greater than (>)</option>
                            <option>Less than (<)</option>
                            <option>Equal to (=)</option>
                            <option>Contains</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="text" ng-model="header.value" placeholder="Set value here"></td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="addRule($index,header,'AND')" data-tip="AND">AND</button>
                        <button type="button" class="btn btn-info" ng-click="addRule($index,header,'OR')" data-tip="OR">OR</button>
                        <button type="button" class="btn btn-danger" ng-click="removeRule($index)" data-tip="remove Rule">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary row" ng-click="submitForm()">Submit</button>
    </div>
</form>